body {
    background-color: whitesmoke;
}

#navbar {
    display: flex;
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    margin-right: 20px;
    font-size: 120%;
}
a {
    text-decoration: none;
    color: gray;
}
nav {
    padding: 38px 30px;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    padding-right: 70px;
    padding-top: 35px;
}

#nav {
    display: flex;
}

#logo h1 {
    padding-left: 50px;
    font-size: 250%;
    margin-top: 15px;
}

#writting {
    display: flex;
}
#headline h1 {
    margin: 0;
    padding-top: 10px;
    margin-left: 45px;
}
#passage p {
    margin: 0;
    color: grey;
}
#passage {
    margin-top: 10px;
    margin-left: 70px;
    padding-left: 30px;
    text-align: center;
}
#passage button {
    background-color: goldenrod;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
}
#img {
    margin-left: 40px;
}



#img-p {
    display: flex;
}
#right-row {
    background-color: hsl(240, 100%, 5%);
    height: 375px;
    width: 400px;
    margin-left: 15px;
}
#right-row h1 {
    color: goldenrod;
    padding-left: 25px;
}
#right-row  h2 {
    color: white;
    margin-bottom: 10px;
    padding-left: 25px;
    margin-top: 20px;
}
#right-row  p {
    color: white;
    padding-left: 25px;
    padding-top: 2px;
    margin: 0;
}




#bottom {
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
}
#num1, #num2, #num3 {
    display: flex;
    padding-left: 25px;
}
#num1 h1 {
    margin: 0;
    margin-left: 10px;
    color: gray;
}
#num2 h1 {
    margin: 0;
    margin-left: 10px;
    color: gray;
}
#num3 h1 {
    margin: 0;
    margin-left: 10px;
    color: gray;
}
#num1 h2 {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}
#num2 h2 {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}
#num3 h2 {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}
#num1 p {
    margin: 0;
    margin-left: 10px;
    color: gray;
}
#num2 p {
    margin: 0;
    margin-left: 10px;
    color: gray;
}
#num3 p {
    margin: 0;
    margin-left: 10px;
    color: gray;
}
