html {
    background-color: #090b1a;
}
#card {
    background-color: #1b1938;
    padding: 30px;
}
#left-heading {
    color: #ffffff;
}
:scope {
    color: #aa5cdb;
}
#words {
    color: hsla(0, 0%, 100%, 0.75);
}
#data-1 h2 {
    color: white;
}
#data-2 h2 {
    color: white;
}
#data-3 h2 {
    color: white;
}

#data-1, #data-2, #data-3 {
    display: inline-table;
    padding-right: 60px;
    
}



